[Desktop Entry]
Name=NetSurf
Name[en_US]=NetSurf
GenericName=Web Browser
GenericName[en_US]=Web Browser
Comment=NetSurf Web Broser
Exec=netsurf %U
Terminal=false
Type=Application
Icon=netsurf
Categories=Network;
